---
---
@import '../_sass/kanbasu';
@import '../_sass/slider';

a {
    img.hover { display: none; }

    &:hover {
        img:not(.hover) { display: none; }
        img.hover { display: block; }
    }
}
